<div class="container-fluid">
  <div class="row">
    <div
      class="bg-primary"
      style="
        padding: 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
      "
    >
      <div class="logo">Logo</div>
      <a class="cursor" (click)="logout()">Logout</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 bg-warning" style="height: 95vh">
      <ul style="list-style-type: none; padding: 0; margin: 0" class="sidebar">
        <li><a [routerLink]="['/layout/dashboard']">Dashboard</a></li>
        <li><a [routerLink]="['/layout/users']">Users</a></li>
        <li><a [routerLink]="['/layout/sites']">Sites</a></li>
        <li><a [routerLink]="['/layout/users']">Services</a></li>
      </ul>
    </div>
    <div class="col-sm-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
